<a href="https://colab.research.google.com/github/msharmagcp/spark/blob/main/Handling_nulls.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-2.3.1/spark-2.3.1-bin-hadoop2.7.tgz
!tar xf spark-2.3.1-bin-hadoop2.7.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.1-bin-hadoop2.7"

!ls

import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate() 
spark

Get:1 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:2 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:3 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:4 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:5 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:6 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:7 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:8 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:9 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:11 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:12 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:13 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:14 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,739 kB]
Get:15 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [889 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,163 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,394 kB]
Get:20 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,392 kB]
Get:21 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [1,963 kB]
Fetched 10.8 MB in 3s (3,169 kB/s)
Reading package lists... Done
original.csv  spark-2.3.1-bin-hadoop2.7
sample_data   spark-2.3.1-bin-hadoop2.7.tgz

In [2]:
df = spark.read.csv("original.csv", header=True)

In [3]:
df.dtypes

[('id', 'string'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('gender', 'string'),
 ('City', 'string'),
 ('JobTitle', 'string'),
 ('Salary', 'string'),
 ('Latitude', 'string'),
 ('Longitude', 'string')]

In [4]:

from pyspark.sql.types import * 
schema = StructType([
  StructField('id', IntegerType()), 
  StructField('first_name', StringType()), 
  StructField('last_name', StringType()), 
  StructField('gender', StringType()), 
  StructField('City', StringType()), 
  StructField('JobTitle', StringType()), 
  StructField('Salary', StringType()), 
  StructField('Latitude', FloatType()), 
  StructField('Longitude', FloatType())
])

In [5]:
df.dtypes

[('id', 'string'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('gender', 'string'),
 ('City', 'string'),
 ('JobTitle', 'string'),
 ('Salary', 'string'),
 ('Latitude', 'string'),
 ('Longitude', 'string')]

In [6]:
df = spark.read.csv("original.csv", header=True, schema = schema)

In [7]:
df.dtypes

[('id', 'int'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('gender', 'string'),
 ('City', 'string'),
 ('JobTitle', 'string'),
 ('Salary', 'string'),
 ('Latitude', 'float'),
 ('Longitude', 'float')]

In [8]:
df_dropped = df.na.drop()
df_dropped.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude| Longitude|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18| 50.577408| 16.496717|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|  48.82316| 103.52182|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23| 44.504723| 38.130016|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16| 53.426613|-6.1644998|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36| 45.190517| 0.7423124|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027935| 106.65711|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793|-74.416016|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85| -79.88333|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70|  39.17238| 116.93161|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|  49.81518| 19.377174|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|  42.10148|-72.576675|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|  49.79233| 13.491532|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73| 43.494576|  5.897802|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48| 52.744167| 17.327864|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696247| -8.709834|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232566| 113.46868|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33| 40.717205|-8.3625145|
| 21|      Alon|  Chasteau|  Male|          Xin’e|     Web Developer I|$62755.85|  49.16291| 127.98658|
| 22|   Guthrey|    Johnke|  Male|         Xijiao|         Developer I|$13708.03| 40.757683| 23.134218|
| 23|   Lurleen|   Janczak|Female|      Rozkishne|    Web Developer IV|$29384.72|  48.49028|  39.27122|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
only showing top 20 rows

In [10]:
df_null_jobs = df.filter(df.JobTitle.isNotNull())

In [11]:
df_null_jobs.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude| Longitude|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18| 50.577408| 16.496717|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|  48.82316| 103.52182|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23| 44.504723| 38.130016|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.648994|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16| 53.426613|-6.1644998|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36| 45.190517| 0.7423124|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027935| 106.65711|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793|-74.416016|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85| -79.88333|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70|  39.17238| 116.93161|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|  49.81518| 19.377174|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|  42.10148|-72.576675|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|  49.79233| 13.491532|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73| 43.494576|  5.897802|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48| 52.744167| 17.327864|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696247| -8.709834|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232566| 113.46868|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33| 40.717205|-8.3625145|
| 21|      Alon|  Chasteau|  Male|          Xin’e|     Web Developer I|$62755.85|  49.16291| 127.98658|
| 22|   Guthrey|    Johnke|  Male|         Xijiao|         Developer I|$13708.03| 40.757683| 23.134218|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
only showing top 20 rows

In [12]:
df_no_duplicates = df.dropDuplicates()

In [13]:
df_no_duplicates.show()

+---+----------+-------------+------+--------------------+--------------------+---------+----------+----------+
| id|first_name|    last_name|gender|                City|            JobTitle|   Salary|  Latitude| Longitude|
+---+----------+-------------+------+--------------------+--------------------+---------+----------+----------+
|372|     Lyman|      Burfitt|  Male|             Guiping|Community Outreac...|$28755.53| 23.394325| 110.07938|
|391|     Verge|     Hefferan|  Male|          Cocachacra|Community Outreac...|$90391.71|-17.091843| -71.77114|
|428|   Pernell|      Fossitt|  Male|           Wangchang|    Graphic Designer|$36927.53| 40.401047|  117.9989|
|526|  Garfield|    Benadette|  Male|              Shiren|   Marketing Manager|$56867.78| 28.651703| 117.90413|
|731|     Legra|        Manns|Female|               Nîmes|  Research Associate|$42246.87| 43.844727| 4.3520436|
|809|       Jed|       Shires|  Male|            Goubétto|     Design Engineer|$64130.79| 11.423197| 43.002483|
|107|    Rhodia|     Glazzard|Female|            Predavac|             Actuary|$42166.97|  45.93808| 16.780666|
|206|    Penrod|      Aukland|  Male|                Maru|    Junior Executive|$88916.91| 11.366184|  6.322607|
|271|    Cyndie|       Docker|Female|        Sanshengyuan|     Legal Assistant|$28926.95| 38.284946| 114.44385|
|519|  Marchall|       Gaskal|  Male|              Buawan|Research Assistan...|$40183.50|  14.64239|120.957565|
|673|  Reinaldo|        Wiles|  Male|         Spas-Zaulok|Human Resources M...|$41604.67| 56.476814| 36.575226|
|255|   Jameson|      Gaiford|  Male|             Dahuang|   Marketing Manager|$27207.16| 40.142128| 94.661964|
|792|   Morgana|          Kew|Female|              Duozhu|        Engineer III|$71416.86| 23.027798| 114.95018|
|294|   Quintus|    Potticary|  Male|São Mamede de Inf...|       Senior Editor|$55111.06|  41.18463| -8.598522|
|422|  Giuditta|Thundercliffe|Female|             Xinying| Geological Engineer|$83766.35| 39.983112| -75.11504|
|859|    Willyt|      Suttaby|Female|           Haykashen|Human Resources A...|$76556.57| 40.072536|  44.30513|
|864|    Bertie|        Bewsy|  Male|         Poncokusumo|Software Test Eng...|$25446.48| -8.051573| 112.83438|
|918|  Merralee|     Brockley|Female|          Karabanovo|  Nurse Practicioner|$45568.92|  56.30725| 38.701054|
|163| Valentino|       Loxley|  Male|               Taifu| Software Consultant|$87708.40|  41.46429| -74.36236|
|297|    Marlie|       Angelo|Female|            Cértegui|  Speech Pathologist|$21951.41|   5.40004| -76.60003|
+---+----------+-------------+------+--------------------+--------------------+---------+----------+----------+
only showing top 20 rows

In [14]:
#selecting and filtering data
df_select = df.select("first_name", "last_name")
df_select.show()

+----------+----------+
|first_name| last_name|
+----------+----------+
|   Melinde| Shilburne|
|  Kimberly|Von Welden|
|    Alvera|  Di Boldi|
|   Shannon| O'Griffin|
|  Sherwood|   Macieja|
|     Maris|      Folk|
|     Masha|    Divers|
|   Goddart|     Flear|
|      Roth|O'Cannavan|
|      Bran|   Trahear|
|    Kylynn|   Lockart|
|       Rey|    Meharg|
|      Kerr|    Braden|
|    Mickie| Whanstall|
|    Kaspar|     Pally|
|    Norbie|    Gwyllt|
|    Claude|    Briant|
|     Thain|    Habbon|
|  Tiffanie|  Pattison|
|    Ettore|  Gerriets|
+----------+----------+
only showing top 20 rows

In [15]:
#rename an existing column in data frame
df_renamed = df.withColumnRenamed('first_name', 'fn')
df_renamed.show()

+---+--------+----------+------+---------------+--------------------+---------+----------+----------+
| id|      fn| last_name|gender|           City|            JobTitle|   Salary|  Latitude| Longitude|
+---+--------+----------+------+---------------+--------------------+---------+----------+----------+
|  1| Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18| 50.577408| 16.496717|
|  2|Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|  48.82316| 103.52182|
|  3|  Alvera|  Di Boldi|Female|           null|                null|$57576.52| 39.994747|116.339775|
|  4| Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23| 44.504723| 38.130016|
|  5|Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.648994|
|  6|   Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16| 53.426613|-6.1644998|
|  7|   Masha|    Divers|Female|         Dachun|                null|$25090.87| 24.879416|118.930115|
|  8| Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36| 45.190517| 0.7423124|
|  9|    Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027935| 106.65711|
| 10|    Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793|-74.416016|
| 11|  Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85| -79.88333|
| 12|     Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70|  39.17238| 116.93161|
| 13|    Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|  49.81518| 19.377174|
| 14|  Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|  42.10148|-72.576675|
| 15|  Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|  49.79233| 13.491532|
| 16|  Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73| 43.494576|  5.897802|
| 17|  Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48| 52.744167| 17.327864|
| 18|   Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696247| -8.709834|
| 19|Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232566| 113.46868|
| 20|  Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33| 40.717205|-8.3625145|
+---+--------+----------+------+---------------+--------------------+---------+----------+----------+
only showing top 20 rows

In [18]:
#Filter dataframes
df_filter = df.filter((df.first_name == 'Kylynn'))
df_filter.show()

+---+----------+---------+------+--------+--------------------+---------+--------+---------+
| id|first_name|last_name|gender|    City|            JobTitle|   Salary|Latitude|Longitude|
+---+----------+---------+------+--------+--------------------+---------+--------+---------+
| 11|    Kylynn|  Lockart|Female|El Cardo|Nuclear Power Eng...|$13604.63|   -5.85|-79.88333|
+---+----------+---------+------+--------+--------------------+---------+--------+---------+

In [24]:
# search for like names
df_filter = df.filter((df.first_name.like('%ck%')))
df_filter.show()

+---+----------+-----------+------+-------------------+--------------------+---------+----------+----------+
| id|first_name|  last_name|gender|               City|            JobTitle|   Salary|  Latitude| Longitude|
+---+----------+-----------+------+-------------------+--------------------+---------+----------+----------+
| 14|    Mickie|  Whanstall|  Male|        Springfield|Assistant Media P...|$50838.53|  42.10148|-72.576675|
| 37|     Nicko|      Frays|  Male|             Caxias|      Health Coach I|$99786.40|-4.8654137|   -43.362|
| 95| Nickolaus|  Wollaston|  Male|Qorovulbozor Shahri|    Registered Nurse|$47221.40|  39.50308|  64.81142|
|124|   Jackson|     Meriet|  Male|            Cuogang|             Actuary|$82505.36|  29.31525|  90.59979|
|144|     Rocky|Hatherleigh|  Male|           Munkfors|Administrative As...|$85289.16|  59.85578| 13.548524|
|263|   Chickie|      Vango|Female|           Parelhas|     Legal Assistant|$79334.91|-6.6858425|-36.660248|
|373|     Rocky|   McConway|  Male|          Bradenton|     Sales Associate|$12246.73| 27.440405| -82.58284|
|552|     Ricky|  Hallawell|  Male|            Thorold|     Staff Scientist|$19832.05| 43.113598| -79.21692|
|654|   Herrick|    Singers|  Male|              Nuquí|  Help Desk Operator|$46405.25|  5.709563| -77.26669|
|701| Nickolaus|        Dew|  Male|        Derzhavīnsk|     General Manager|$18182.91| 51.098125|  66.31654|
|733|  Hendrick|Christophle|  Male|          Xiangdong|   Account Executive|$74615.18| 27.640076| 113.73305|
|760|     Vicki|   Munnings|Female|          Dutsin Ma|  Speech Pathologist|$15323.10|  12.45448| 7.4976535|
+---+----------+-----------+------+-------------------+--------------------+---------+----------+----------+

In [23]:
# find names ending with a particular character
df_filter = df.filter((df.first_name.endswith('ie')))
df_filter.show()

+---+----------+---------+------+--------------------+--------------------+---------+----------+-----------+
| id|first_name|last_name|gender|                City|            JobTitle|   Salary|  Latitude|  Longitude|
+---+----------+---------+------+--------------------+--------------------+---------+----------+-----------+
| 14|    Mickie|Whanstall|  Male|         Springfield|Assistant Media P...|$50838.53|  42.10148| -72.576675|
| 16|    Norbie|   Gwyllt|  Male|              Xijiao|              Editor|$32492.73| 43.494576|   5.897802|
| 19|  Tiffanie| Pattison|Female|         Jabungsisir|Senior Financial ...|$91925.08|-7.7232566|  113.46868|
| 38|    Lonnie|Townshend|Female|         As Sulayyil|Desktop Support T...|$44520.89| 20.466867|   45.56294|
| 42|   Chelsie|  Yewdell|Female|             Klippan|         Engineer IV|$77039.47| 56.135742|  13.111945|
| 46|    Sollie|   D'Acth|  Male|              Mozdok|     Design Engineer|$31385.87|  43.74542|  44.683067|
| 90|    Cammie|    Stede|Female|          Sundbyberg|       Senior Editor|$45239.36| 59.368755|  17.977808|
|135|    Aubrie| Swyndley|Female|Jarošov nad Nežárkou|    Internal Auditor|$82905.58|  49.19129|  15.052435|
|140|     Andie|  Ernshaw|Female|               Casma| Executive Secretary|$58377.47|  -9.47183|  -78.30066|
|148|    Lizzie|  Cridlin|Female|            Kenamoen| Electrical Engineer|$69631.29|  -10.5411|   123.2875|
|154|    Winnie|Cumbridge|  Male|           Grytviken|           Professor|$66235.17| -54.28115|  -36.50874|
|158|   Cynthie|   Finlow|Female|            Nouaseur|   Assistant Manager|$36268.65| 33.352726| -7.5788975|
|166|    Buddie|   Marley|  Male|                Rama|     Legal Assistant|$34944.80|12.1630335|  -84.21998|
|178|     Rodie|    Sagar|Female|            Montréal| Staff Accountant IV|$38003.97|  45.50804| -73.564545|
|180|    Nannie| Matschuk|Female|             Manhete|Human Resources A...|$24265.76| 41.548557|   -8.58254|
|181|    Amitie|   Stibbs|Female|              Dingle|             Teacher|$47861.51| 10.999194|  122.67178|
|185|    Lezlie|   Tregea|Female|          El Salitre|Systems Administr...|$94859.08| 20.098057|-101.502785|
|225|  Annmarie|Simionato|Female|           Suchy Las|     Health Coach II|$61517.64|  52.51254|  16.839527|
|228|    Dulcie|   Huxton|Female|             Clamart|Accounting Assist...|$68066.76|  47.57454| -2.3578005|
|230|    Mannie|  Lydiate|  Male|            Jingling|     Design Engineer|$55594.31|  30.96187| 113.378136|
+---+----------+---------+------+--------------------+--------------------+---------+----------+-----------+
only showing top 20 rows

In [25]:
df_filter = df.filter((df.first_name.startswith('M')))
df_filter.show()

+---+----------+-----------+------+-----------------+--------------------+---------+---------+----------+
| id|first_name|  last_name|gender|             City|            JobTitle|   Salary| Latitude| Longitude|
+---+----------+-----------+------+-----------------+--------------------+---------+---------+----------+
|  1|   Melinde|  Shilburne|Female|        Nowa Ruda| Assistant Professor|$57438.18|50.577408| 16.496717|
|  6|     Maris|       Folk|Female|  Kinsealy-Drinan|      Civil Engineer|$30101.16|53.426613|-6.1644998|
|  7|     Masha|     Divers|Female|           Dachun|                null|$25090.87|24.879416|118.930115|
| 14|    Mickie|  Whanstall|  Male|      Springfield|Assistant Media P...|$50838.53| 42.10148|-72.576675|
| 72| Marmaduke|      Eykel|  Male|         Petrovsk|      Web Designer I|$14012.83| 52.28769| 45.360283|
| 82|     Maddy|   Francino|  Male|     Phra Khanong|Administrative As...|$29440.47|13.691066| 100.61402|
| 94|     Milka|   Brightie|Female|            Kítsi|Occupational Ther...|$31388.07|37.851936| 23.840816|
| 99| Margarete|Andreopolos|Female|        Neglasari|    Quality Engineer|$23216.03|-6.147133| 106.62324|
|108|    Miriam|      Jertz|Female|            Hekou|    Quality Engineer|$27902.32|22.529404| 103.93935|
|116|     Marni|      Loney|Female|           Tayang|     Cost Accountant|$40708.57|22.324743| 114.21104|
|125|    Marcus|      Hulls|  Male|          Ngã Bảy|Senior Sales Asso...|$25805.88| 9.825256| 105.81729|
|126|    Monica|    Linfoot|Female|   Lázně Kynžvart|    Media Manager IV|$36963.69|50.010593| 12.624753|
|133|     Manya|    Westall|Female|          Macarse|  Help Desk Operator|$68709.02| 15.42495| 120.77476|
|157|    Mikkel|     Hewins|  Male|          Wenshao|Programmer Analys...|$18941.51|27.993828| 120.69936|
|172|    Marita|    Whyborn|Female|Sofo-Birnin-Gwari|  Biostatistician II|$45680.97| 11.01088|  6.798413|
|187|       Mab|    Faughny|Female|           Obiliq|Research Assistan...|$21039.36|42.686916|  21.06704|
|204|     Merle|        Ren|Female|         Nusajaya| Account Coordinator|$71637.92| 1.424768|103.648705|
|205|    Mischa| Komorowski|  Male|            Lunec|Research Assistan...|$82423.71|15.938574| 120.49369|
|208|  Maurizio| Raddenbury|  Male|           Jiyang|   Assistant Manager|$41273.88| 36.97854| 117.17352|
|230|    Mannie|    Lydiate|  Male|         Jingling|     Design Engineer|$55594.31| 30.96187|113.378136|
+---+----------+-----------+------+-----------------+--------------------+---------+---------+----------+
only showing top 20 rows

In [31]:
# Filter and find ID between 1 and 5 
df_filter = df.filter((df.id.between(55,65)))
df_filter.show()

+---+----------+----------+------+--------------------+--------------------+---------+----------+----------+
| id|first_name| last_name|gender|                City|            JobTitle|   Salary|  Latitude| Longitude|
+---+----------+----------+------+--------------------+--------------------+---------+----------+----------+
| 55|   Addison|   Goudard|  Male|Palmas De Gran Ca...|Safety Technician IV|$91642.24| 28.099018|-15.420325|
| 56|   Goldina|MacFarlane|Female|               Gaohe|      Research Nurse|$25341.68|  36.14593| 113.01869|
| 57|    Sigrid|  Iglesias|Female|            Zhenyuan|Human Resources M...|$24102.95| 27.049109| 108.42969|
| 58| Valentine|Farnsworth|  Male|           Marjayoûn|Software Test Eng...|$21209.67| 33.359474|  35.58893|
| 59|      Lusa|     Kowal|Female|            Registro|   Financial Advisor|$43176.23|-24.500229| -47.84481|
| 60|       Rex| Sapsforde|  Male|            Tartagal|Budget/Accounting...|$42001.91|-31.453413|-64.208916|
| 61|      Adam|   Seagood|  Male|         Krajan Siki|  Research Associate|$28660.11|   -8.1831|  111.5359|
| 62|  Pierette|   Zanelli|Female|          Chōfugaoka|Senior Quality En...|$72918.12| 35.655346| 139.54764|
| 63|    Antone|      Erie|  Male|          Bilohirs’k|  Help Desk Operator|$51271.99| 45.057796| 34.605095|
| 64|     Dougy|    Browse|  Male|          Neftegorsk|        Engineer III|$97531.47| 44.366554| 39.709908|
| 65|    Faydra|  Ashpital|Female|             Kakamas|Budget/Accounting...|$44648.27|-28.672731| 20.428444|
+---+----------+----------+------+--------------------+--------------------+---------+----------+----------+

In [34]:
df_filter = df.filter((df.first_name.isin('Aldin', 'Rex')))

In [35]:
df_filter.show()

+---+----------+-------------+------+-----------+--------------------+---------+----------+----------+
| id|first_name|    last_name|gender|       City|            JobTitle|   Salary|  Latitude| Longitude|
+---+----------+-------------+------+-----------+--------------------+---------+----------+----------+
| 60|       Rex|    Sapsforde|  Male|   Tartagal|Budget/Accounting...|$42001.91|-31.453413|-64.208916|
|901|     Aldin|Matuszkiewicz|  Male|East London|            Operator|$41468.83|-32.954933| 27.931913|
+---+----------+-------------+------+-----------+--------------------+---------+----------+----------+

In [37]:
#Select a set of characters from a column
df_substr = df.select(df.first_name, df.first_name.substr(1,5).alias('name'))
df_substr.show()

+----------+-----+
|first_name| name|
+----------+-----+
|   Melinde|Melin|
|  Kimberly|Kimbe|
|    Alvera|Alver|
|   Shannon|Shann|
|  Sherwood|Sherw|
|     Maris|Maris|
|     Masha|Masha|
|   Goddart|Godda|
|      Roth| Roth|
|      Bran| Bran|
|    Kylynn|Kylyn|
|       Rey|  Rey|
|      Kerr| Kerr|
|    Mickie|Micki|
|    Kaspar|Kaspa|
|    Norbie|Norbi|
|    Claude|Claud|
|     Thain|Thain|
|  Tiffanie|Tiffa|
|    Ettore|Ettor|
+----------+-----+
only showing top 20 rows

In [40]:
#Applying multiple filters with AND
df_filter = df.filter((df.first_name.isin('Aldin', 'Rex')) & (df.City.like('%ondon')))
df_filter.show()

+---+----------+-------------+------+-----------+--------+---------+----------+---------+
| id|first_name|    last_name|gender|       City|JobTitle|   Salary|  Latitude|Longitude|
+---+----------+-------------+------+-----------+--------+---------+----------+---------+
|901|     Aldin|Matuszkiewicz|  Male|East London|Operator|$41468.83|-32.954933|27.931913|
+---+----------+-------------+------+-----------+--------+---------+----------+---------+

In [43]:
df_filter = df.filter((df.id > 30) & (df.id < 100))
df_filter.show()

+---+----------+-----------+------+--------------------+--------------------+---------+----------+----------+
| id|first_name|  last_name|gender|                City|            JobTitle|   Salary|  Latitude| Longitude|
+---+----------+-----------+------+--------------------+--------------------+---------+----------+----------+
| 31|      Neda|       Krop|Female|    Ubon Ratchathani| Software Consultant|$48945.40| 15.247888| 104.87645|
| 32| Westleigh|Belderfield|  Male|         Xiang Ngeun|      Accountant III|$78336.59|  19.76004| 102.18329|
| 33|     Odell|    Morritt|  Male|Chalan Pago-Ordot...|     Design Engineer|$72777.48| 13.444138| 144.78209|
| 34|     Barbi|  Fattorini|Female|         Wojcieszków|Desktop Support T...|$18163.55| 51.784008|  22.32681|
| 35|      Base|  Summerlad|  Male|         Changuinola|Business Systems ...|$53137.80|  9.448871| -82.48518|
| 36|     Paddy|    Ashness|  Male|            Ddmashen|        Engineer III|$34851.65| 40.568405| 44.815758|
| 37|     Nicko|      Frays|  Male|              Caxias|      Health Coach I|$99786.40|-4.8654137|   -43.362|
| 38|    Lonnie|  Townshend|Female|         As Sulayyil|Desktop Support T...|$44520.89| 20.466867|  45.56294|
| 39|    Valida|   Salzberg|Female|         Pangnirtung| Assistant Professor|$94224.48|  66.14511| -65.71252|
| 40| Pierrette|      Calow|Female|           Kaustinen|     Legal Assistant|$85120.77| 63.537266|  23.69932|
| 41|   Deirdre| Codrington|Female|         Buena Vista| Software Engineer I|$85861.33|-17.458666| -63.66915|
| 42|   Chelsie|    Yewdell|Female|             Klippan|         Engineer IV|$77039.47| 56.135742| 13.111945|
| 43|   Hadrian|     Crumpe|  Male|               Rosso|Physical Therapy ...|$36879.44| 16.516342|-15.802612|
| 44|   Orville|  Rigardeau|  Male|             Kokotów|     Data Coordiator|$20350.35| 50.014263| 20.096687|
| 45| Gabrielle|   Tippings|Female|            Huangshi|              Editor|$98690.34|  30.20003| 115.03883|
| 46|    Sollie|     D'Acth|  Male|              Mozdok|     Design Engineer|$31385.87|  43.74542| 44.683067|
| 47|   Karissa|   Steinham|Female|            Qiligang|Human Resources A...|$56333.77| 30.916426| 118.73465|
| 48|    Farlee|     Callen|  Male|         Tanjungluar|Structural Analys...|$16866.41| -8.776544| 116.50937|
| 49|  Franklyn|      Campo|  Male|             Rzhavki|      Statistician I|$62765.00| 56.012775|  37.22298|
| 50|    Joleen|    Kermeen|Female|        Pointe-Noire|     Statistician II|$31536.09| -4.769162| 11.866362|
+---+----------+-----------+------+--------------------+--------------------+---------+----------+----------+
only showing top 20 rows

In [44]:
#Applying multiple filters WITH OR
df_filter = df.filter((df.first_name.isin('Aldin', 'Rex')) | (df.City.like('%ondon')))
df_filter.show()

+---+----------+-------------+------+-----------+--------------------+---------+----------+----------+
| id|first_name|    last_name|gender|       City|            JobTitle|   Salary|  Latitude| Longitude|
+---+----------+-------------+------+-----------+--------------------+---------+----------+----------+
| 60|       Rex|    Sapsforde|  Male|   Tartagal|Budget/Accounting...|$42001.91|-31.453413|-64.208916|
|901|     Aldin|Matuszkiewicz|  Male|East London|            Operator|$41468.83|-32.954933| 27.931913|
+---+----------+-------------+------+-----------+--------------------+---------+----------+----------+

In [45]:
#Running SQL on our dataframes
#Register a temporary table from the prior dataframe
df.registerTempTable("original")
query1 = spark.sql('select * from original')
query1.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude| Longitude|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18| 50.577408| 16.496717|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|  48.82316| 103.52182|
|  3|    Alvera|  Di Boldi|Female|           null|                null|$57576.52| 39.994747|116.339775|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23| 44.504723| 38.130016|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.648994|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16| 53.426613|-6.1644998|
|  7|     Masha|    Divers|Female|         Dachun|                null|$25090.87| 24.879416|118.930115|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36| 45.190517| 0.7423124|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027935| 106.65711|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793|-74.416016|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85| -79.88333|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70|  39.17238| 116.93161|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|  49.81518| 19.377174|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|  42.10148|-72.576675|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|  49.79233| 13.491532|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73| 43.494576|  5.897802|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48| 52.744167| 17.327864|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696247| -8.709834|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232566| 113.46868|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33| 40.717205|-8.3625145|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
only showing top 20 rows

In [48]:
query2 = spark.sql('select concat(first_name, " ", last_name) as full_name from original where gender = "Female" ')
query2.show()

+-------------------+
|          full_name|
+-------------------+
|  Melinde Shilburne|
|Kimberly Von Welden|
|    Alvera Di Boldi|
|         Maris Folk|
|       Masha Divers|
|     Kylynn Lockart|
|         Rey Meharg|
|      Claude Briant|
|  Tiffanie Pattison|
|    Lurleen Janczak|
|      Nichol Holtum|
|       Shaun Bridle|
|     Leandra Anfrey|
|    Jaquelyn Hazard|
|  Prudence Honacker|
|       Cherey Liger|
|          Neda Krop|
|    Barbi Fattorini|
|   Lonnie Townshend|
|    Valida Salzberg|
+-------------------+
only showing top 20 rows

In [51]:
#Adding calculated columns
from pyspark.sql.functions import *
df = df.withColumn('clean_salary', df.Salary.substr(2,100).cast('float'))
df.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+----------+------------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude| Longitude|clean_salary|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+------------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18| 50.577408| 16.496717|    57438.18|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|  48.82316| 103.52182|     62846.6|
|  3|    Alvera|  Di Boldi|Female|           null|                null|$57576.52| 39.994747|116.339775|    57576.52|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23| 44.504723| 38.130016|    61489.23|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.648994|    63863.09|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16| 53.426613|-6.1644998|    30101.16|
|  7|     Masha|    Divers|Female|         Dachun|                null|$25090.87| 24.879416|118.930115|    25090.87|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36| 45.190517| 0.7423124|    46116.36|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027935| 106.65711|     73697.1|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793|-74.416016|    68098.42|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85| -79.88333|    13604.63|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70|  39.17238| 116.93161|     73423.7|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|  49.81518| 19.377174|    33432.99|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|  42.10148|-72.576675|    50838.53|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|  49.79233| 13.491532|    40163.03|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73| 43.494576|  5.897802|    32492.73|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48| 52.744167| 17.327864|    51862.48|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696247| -8.709834|    42135.67|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232566| 113.46868|    91925.08|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33| 40.717205|-8.3625145|    73921.33|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+------------+
only showing top 20 rows

In [52]:
df = df.withColumn('monthly_salary', df.clean_salary/12)
df.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+----------+------------+------------------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude| Longitude|clean_salary|    monthly_salary|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+------------+------------------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18| 50.577408| 16.496717|    57438.18| 4786.514973958333|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|  48.82316| 103.52182|     62846.6|    5237.216796875|
|  3|    Alvera|  Di Boldi|Female|           null|                null|$57576.52| 39.994747|116.339775|    57576.52| 4798.043294270833|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23| 44.504723| 38.130016|    61489.23|   5124.1025390625|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.648994|    63863.09| 5321.924153645833|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16| 53.426613|-6.1644998|    30101.16|2508.4300130208335|
|  7|     Masha|    Divers|Female|         Dachun|                null|$25090.87| 24.879416|118.930115|    25090.87|  2090.90576171875|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36| 45.190517| 0.7423124|    46116.36|3843.0299479166665|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027935| 106.65711|     73697.1| 6141.425130208333|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793|-74.416016|    68098.42| 5674.868489583333|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85| -79.88333|    13604.63|1133.7191569010417|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70|  39.17238| 116.93161|     73423.7| 6118.641927083333|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|  49.81518| 19.377174|    33432.99|2786.0823567708335|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|  42.10148|-72.576675|    50838.53| 4236.544270833333|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|  49.79233| 13.491532|    40163.03|3346.9192708333335|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73| 43.494576|  5.897802|    32492.73|   2707.7275390625|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48| 52.744167| 17.327864|    51862.48| 4321.873372395833|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696247| -8.709834|    42135.67|3511.3059895833335|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232566| 113.46868|    91925.08| 7660.423177083333|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33| 40.717205|-8.3625145|    73921.33| 6160.110677083333|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+------------+------------------+
only showing top 20 rows

In [53]:
df = df.withColumn('are_they_female', when(df.gender == 'Female', 'Yes').otherwise('no'))
df.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+----------+------------+------------------+---------------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude| Longitude|clean_salary|    monthly_salary|are_they_female|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+------------+------------------+---------------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18| 50.577408| 16.496717|    57438.18| 4786.514973958333|            Yes|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|  48.82316| 103.52182|     62846.6|    5237.216796875|            Yes|
|  3|    Alvera|  Di Boldi|Female|           null|                null|$57576.52| 39.994747|116.339775|    57576.52| 4798.043294270833|            Yes|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23| 44.504723| 38.130016|    61489.23|   5124.1025390625|             no|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.648994|    63863.09| 5321.924153645833|             no|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16| 53.426613|-6.1644998|    30101.16|2508.4300130208335|            Yes|
|  7|     Masha|    Divers|Female|         Dachun|                null|$25090.87| 24.879416|118.930115|    25090.87|  2090.90576171875|            Yes|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36| 45.190517| 0.7423124|    46116.36|3843.0299479166665|             no|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027935| 106.65711|     73697.1| 6141.425130208333|             no|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793|-74.416016|    68098.42| 5674.868489583333|             no|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85| -79.88333|    13604.63|1133.7191569010417|            Yes|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70|  39.17238| 116.93161|     73423.7| 6118.641927083333|            Yes|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|  49.81518| 19.377174|    33432.99|2786.0823567708335|             no|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|  42.10148|-72.576675|    50838.53| 4236.544270833333|             no|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|  49.79233| 13.491532|    40163.03|3346.9192708333335|             no|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73| 43.494576|  5.897802|    32492.73|   2707.7275390625|             no|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48| 52.744167| 17.327864|    51862.48| 4321.873372395833|            Yes|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696247| -8.709834|    42135.67|3511.3059895833335|             no|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232566| 113.46868|    91925.08| 7660.423177083333|            Yes|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33| 40.717205|-8.3625145|    73921.33| 6160.110677083333|             no|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+------------+------------------+---------------+
only showing top 20 rows

In [54]:
import pyspark.sql.functions as sqlfunc
df1 = df.groupBy('gender').agg(sqlfunc.sum('clean_salary'))
df1.show()

+------+--------------------+
|gender|   sum(clean_salary)|
+------+--------------------+
|Female|2.7364519950195312E7|
|  Male|2.8123435678710938E7|
+------+--------------------+

In [58]:
df1 = df.groupBy('gender').agg(sqlfunc.sum('clean_salary').alias('total'),sqlfunc.avg('clean_salary').alias('average'),sqlfunc.min('clean_salary').alias('min'),sqlfunc.max('clean_salary').alias('max'))
df1.show()

+------+--------------------+-----------------+--------+--------+
|gender|               total|          average|     min|     max|
+------+--------------------+-----------------+--------+--------+
|Female|2.7364519950195312E7|55618.94298820185|10616.44|99948.28|
|  Male|2.8123435678710938E7|55361.09385573019|10101.92|99942.92|
+------+--------------------+-----------------+--------+--------+

In [59]:
#per gender and city
df1 = df.groupBy('gender', 'city').agg(sqlfunc.sum('clean_salary').alias('total'),sqlfunc.avg('clean_salary').alias('average'),sqlfunc.min('clean_salary').alias('min'),sqlfunc.max('clean_salary').alias('max'))
df1.show()

+------+-----------------+----------------+----------------+--------+--------+
|gender|             city|           total|         average|     min|     max|
+------+-----------------+----------------+----------------+--------+--------+
|Female|           Dachun| 25090.869140625| 25090.869140625|25090.87|25090.87|
|Female|      Trollhättan|106623.369140625|53311.6845703125|26830.47| 79792.9|
|  Male|          Wenshao| 18941.509765625| 18941.509765625|18941.51|18941.51|
|Female|            Lanas| 13765.900390625| 13765.900390625| 13765.9| 13765.9|
|  Male|            Mörön|    77940.078125|    77940.078125|77940.08|77940.08|
|Female|             Same|   73369.7265625|   73369.7265625|73369.73|73369.73|
|Female|          Sawahan|  24608.83984375|  24608.83984375|24608.84|24608.84|
|  Male|Monte da Boavista|     98586.71875|     98586.71875|98586.72|98586.72|
|Female|         Nusajaya|    71637.921875|    71637.921875|71637.92|71637.92|
|Female|            Kista|   96192.3984375|   96192.3984375| 96192.4| 96192.4|
|  Male|       Pittsburgh|    83121.890625|    83121.890625|83121.89|83121.89|
|  Male|       Neftegorsk|     97531.46875|     97531.46875|97531.47|97531.47|
|Female|          Yanaoca|     54906.21875|     54906.21875|54906.22|54906.22|
|  Male|            Tambo|  40264.91015625|  40264.91015625|40264.91|40264.91|
|  Male|        Mytishchi|  63863.08984375|  63863.08984375|63863.09|63863.09|
|  Male|            Pedra|    73921.328125|    73921.328125|73921.33|73921.33|
|Female|            Dhaka|    68368.546875|    68368.546875|68368.55|68368.55|
|  Male|        Mosteiros|  62508.87109375|  62508.87109375|62508.87|62508.87|
|  Male|           Roanne|   93339.9921875|   93339.9921875|93339.99|93339.99|
|Female|        Eindhoven| 24042.099609375| 24042.099609375| 24042.1| 24042.1|
+------+-----------------+----------------+----------------+--------+--------+
only showing top 20 rows

In [60]:
df1.write.csv('df1.csv')
df1.write.json('df1.json')
df1.write.parquet('df1.parquet')
#can add partitions etc

In [61]:
df = spark.read.csv("challenge.csv", header=True)

In [62]:
df.show()

+---------------+--------------+-----------------+----------+
|     ip_address|       Country|      Domain Name|Bytes_used|
+---------------+--------------+-----------------+----------+
|  52.81.192.172|         China| odnoklassniki.ru|       463|
| 119.239.207.13|         China|         youtu.be|        51|
|  68.69.217.210|         China|        adobe.com|        10|
|   7.191.21.223|      Bulgaria|     linkedin.com|       853|
|   211.13.10.68|     Indonesia|          hud.gov|        29|
|   239.80.21.97|      Suriname|       smh.com.au|       218|
|106.214.106.233|       Jamaica|    amazonaws.com|        95|
| 127.242.24.138|         China| surveymonkey.com|       123|
|     99.2.6.139|Czech Republic|     geocities.jp|       322|
|   237.54.11.63|         China|       amazon.com|        83|
| 252.141.157.25|         Japan|      cornell.edu|       374|
|185.220.128.248|       Belgium|       weebly.com|       389|
|   151.77.19.45|   Afghanistan|independent.co.uk|       282|
|  9.161.158.225|     Indonesia|    bloglines.com|       726|
| 156.144.61.155|Czech Republic|   slideshare.net|       657|
|   8.96.188.151|     Indonesia|          ibm.com|       517|
|      5.72.7.65|        Mexico|         youtu.be|       877|
|227.110.112.144|       Croatia|         ehow.com|       287|
|    81.71.28.97|      Thailand|          last.fm|       588|
|  9.255.129.184|      Thailand|          mtv.com|       114|
+---------------+--------------+-----------------+----------+
only showing top 20 rows

In [64]:
import pyspark.sql.functions as sqlfunc
from pyspark.sql.functions import *
df = df.withColumn('home', when(df.Country == 'Mexico', 'YES').otherwise('NO'))

In [65]:
df.show()

+---------------+--------------+-----------------+----------+----+
|     ip_address|       Country|      Domain Name|Bytes_used|home|
+---------------+--------------+-----------------+----------+----+
|  52.81.192.172|         China| odnoklassniki.ru|       463|  NO|
| 119.239.207.13|         China|         youtu.be|        51|  NO|
|  68.69.217.210|         China|        adobe.com|        10|  NO|
|   7.191.21.223|      Bulgaria|     linkedin.com|       853|  NO|
|   211.13.10.68|     Indonesia|          hud.gov|        29|  NO|
|   239.80.21.97|      Suriname|       smh.com.au|       218|  NO|
|106.214.106.233|       Jamaica|    amazonaws.com|        95|  NO|
| 127.242.24.138|         China| surveymonkey.com|       123|  NO|
|     99.2.6.139|Czech Republic|     geocities.jp|       322|  NO|
|   237.54.11.63|         China|       amazon.com|        83|  NO|
| 252.141.157.25|         Japan|      cornell.edu|       374|  NO|
|185.220.128.248|       Belgium|       weebly.com|       389|  NO|
|   151.77.19.45|   Afghanistan|independent.co.uk|       282|  NO|
|  9.161.158.225|     Indonesia|    bloglines.com|       726|  NO|
| 156.144.61.155|Czech Republic|   slideshare.net|       657|  NO|
|   8.96.188.151|     Indonesia|          ibm.com|       517|  NO|
|      5.72.7.65|        Mexico|         youtu.be|       877| YES|
|227.110.112.144|       Croatia|         ehow.com|       287|  NO|
|    81.71.28.97|      Thailand|          last.fm|       588|  NO|
|  9.255.129.184|      Thailand|          mtv.com|       114|  NO|
+---------------+--------------+-----------------+----------+----+
only showing top 20 rows

In [66]:
df2 = df.groupBy('home').agg(sqlfunc.sum(df.Bytes_used).alias('total_used'))
df2.show()

+----+----------+
|home|total_used|
+----+----------+
| YES|    6293.0|
|  NO|  508076.0|
+----+----------+

In [67]:
df3 = df.groupBy('Country').agg(sqlfunc.countDistinct(df.ip_address).alias('number_of_ips'))
df3.sort(col('number_of_ips').desc()).show()

+--------------+-------------+
|       Country|number_of_ips|
+--------------+-------------+
|         China|          172|
|     Indonesia|          114|
|   Philippines|           65|
|        Russia|           56|
|        Brazil|           35|
|        Poland|           31|
|        Sweden|           28|
|         Japan|           25|
|Czech Republic|           23|
|      Portugal|           23|
|        France|           21|
|          Peru|           19|
|      Colombia|           17|
| United States|           15|
|       Ukraine|           14|
|     Argentina|           14|
|        Mexico|           13|
|      Thailand|           12|
|       Nigeria|           11|
|        Canada|           11|
+--------------+-------------+
only showing top 20 rows